@tailwind base;
@tailwind components;
@tailwind utilities;

.res-card {
  transition: transform 0.2s ease-in-out;
}
.res-card:hover {
  transform: scale(0.96);
}
.custom-img {
  box-shadow: 0 15px 40px -35px #000;
}
